@import "../../../../scss/index.scss";

.my-info{
    img{
        width: 200px;
        margin-bottom: 10px;
    }

    h4{
        margin-bottom: 20px;
        color: $primary-color-dark;
    }

    .social-link{
        justify-content: flex-start;
        margin-bottom: 20px;
    }
}