@import "../../../scss/index.scss";

.footer{
    background-color: $background-dark-web;
    border-top: 3px solid $primary-color;
    max-height: 650px;
    padding-top: 20px;

    &__cont{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        @media (min-width: 440px){
            grid-template-columns: repeat(3, 30% 20% 50% );
        }

        @media (min-width: 1024px){
            grid-template-columns: repeat(3, 25% 30% 45%);
        }
    }

    &__col{
        color:#fff;
        padding: 10px;
    }
} 

.footer-copy{
    background-color: $background-dark-web;
    &__cont{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__item{
        p{
            text-align: center;
            color: rgb(190, 190, 190);
            font-size: 11px;
            @media(min-width: 440px){
                font-size: 13px;
            }
        }
    }
}