@import "../../../scss/index.scss";

.login-form{
    .ant-font-item:last-of-type{
        margin: 0;
    }
    
    .login-form__input{
        .ant-input-prefix{
            i{
                font-size: 0em + 22px / $defaultFontSize;
            }
        }
    }

    input{
        font-size: 0em + 20px / $defaultFontSize;
        padding: 2px !important;
        &:focus{
            border-color: primary-color;
            box-shadow: none;
        }
    }

    .login-form__button{
        width: 100%;
        font-size: 0em + 22px / $defaultFontSize;
        background-color: $primary-color;
        color: $font-light;
        height: 42px;
        margin-top:20px;
    }

    .login-form__button:hover {
    background-color: $primary-color-hover;
    color: $font-light;
  }
  .login-form__button:focus,
  .login-form__button:active{
        background-color: $primary-color;
        color: $font-light;
        border:0;
    }
}