@import "../../../scss/index.scss";
.ant-row {flex-flow: column;}
.menu-top-web{
    margin-top: 15px;
    position: sticky;
    flex-direction: column;
    flex-wrap: wrap;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .social-link{
        justify-content: center;
        margin-top: 25px;
    }

    
    @media (min-width: 748px){
        flex-direction: row;
        flex-wrap: nowrap;
        .social-link{
            max-width: 200px;
            align-items: center;
            margin: 0;
            justify-content: flex-end;
        }

        &__logo{
            margin-right: 100px;
        }
        img{
            width: 180px !important;
        }
    }

    @media (min-width: 440px){
        flex-direction: row;
        justify-content: space-evenly;
        li{
            a{
                justify-content: space-evenly;
                margin-right:20px ;
            }
        }
    }


    li{
        border: 0 !important;

        a{
            color: #fff !important;
            font-weight: 600;
            
            &:hover{
                color: $primary-color !important;
            }
        }
    }

    &__logo{
        padding: 15px;

        img{
            width: 165px ;
            margin: 0 auto;
        }
    }
}