@import "../../../../scss/index.scss";

.navigation-footer{
    &__item{
        h3{
            color: $font-light;
            font-weight: bold;
        }
    }

    &__items{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        .anticon{
            padding-right:10px ;
        }

        ul{
            padding: 0;

            li{
                list-style: none;
                padding: 5px 0;
            }

            a{
               color: $primary-color-dark; 
               &:hover{
                   color: $primary-color;
               }
            }
        }
    }
}