@import "../../../scss/index.scss";

.social-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    a{
        display: flex;
        margin-right: 10px;
        padding: 6px 9px;
        border-radius: 20px;

        &.youtube{
            background-color: $youtube;
        }

        &.twitter{
            background-color: $twitter;
        }

        &.facebook{
            background-color: $facebook;
        }

        &.linkedin{
            background-color: $linkedin;
        }

        svg{
            width: 15px;
            height: 20px;
        }
    }
}