@import "../../../scss/index.scss";

.sign-in{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,19,70,1) 48%, rgba(117,7,7,1) 100%);

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    &__content-logo{
        padding: 60px 20px;
        max-width: 400px;
        width: 100%;
        @media (min-width: $media-breakpoint-up-md) {
            width: 60%;
        }
        @media (min-width: $media-breakpoint-up-lg) {
            max-width: 450px;
            width: 100%;
        }
    }

    .sing-in__content-tabs{
        background-color: $background-light;

        .ant-tabs{
            width: 90vw;
            @media(min-width: $media-breakpoint-up-lg){
                width: auto;
            }
        }

        .ant-tabs-nav-container{
            height: 60px !important;
        }

        .ant-tabs-nav{
            width: 100%;
        }

        .ant-tabs-tab{
            display: inline-block;
            width: 50%;
            color: $font-grey;
            height: 60px !important;
            align-items: center;
            text-align: center;
            font-size: 0em + 19px / $defaultFontSize;
            border-top:4px solid $border-grey !important;
            border-radius: 0px !important;
            margin: 0 !important;
            @media (min-width: $media-breakpoint-up-lg) {
                width: 220px;
                font-size: 0em +23px / $defaultFontSize;
            }

            &:hover{
                color: $font-grey-dark;
            }
            &:before{
                content: none;
            }
            span{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
        .ant-tabs-tab-active{
            color:$primary-color !important;
            border-top: 4px solid $primary-color !important;
            border-radius: 0 !important;
            border-right: 0 !important;
            border-left: 0 !important;
        }

        .ant-tabs-content{
            padding: 0 16px 16px 16px;
            text-align: center;
        }
    }
}